.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 50px;
}

.grid .card h6 {
  margin: 15px 15px 0 15px;
}

.grid .card img {
  width: 100%;
  height: auto;
}

.grid .card {
  margin-top: 25px;
}

.grid .card .card-body {
  padding-top: 0;
}
